In [6]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import TfidfVectorizer #categoriccal data into vectors
from sklearn.metrics.pairwise import cosine_similarity #compare genrs with one another
from ipywidgets import * #interactive widgets

In [7]:
#imprt the csv files
movies = pd.read_csv('datasets/movies.csv')
ratings = pd.read_csv('datasets/ratings.csv')

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
#null values
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

In [11]:
movies.shape

(10329, 3)

In [12]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

In [13]:
ratings.shape

(105339, 4)

In [14]:
#so no null values

In [15]:
ratings.describe()

              userId        movieId         rating     timestamp
count  105339.000000  105339.000000  105339.000000  1.053390e+05
mean      364.924539   13381.312477       3.516850  1.130424e+09
std       197.486905   26170.456869       1.044872  1.802660e+08
min         1.000000       1.000000       0.500000  8.285650e+08
25%       192.000000    1073.000000       3.000000  9.711008e+08
50%       383.000000    2497.000000       3.500000  1.115154e+09
75%       557.000000    5991.000000       4.000000  1.275496e+09
max       668.000000  149532.000000       5.000000  1.452405e+09

In [16]:
# max rating = 5 min rating = 0.5

In [17]:
#different genres available

In [18]:
movies['genres'] = movies['genres'].str.split('|')

In [19]:
movies2 = movies.explode('genres') #to split each val in list into rows

In [20]:
movies2.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [21]:
movies2['genres'].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'War', 'Musical', 'Documentary',
       'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

In [22]:
movies2['genres'].nunique()

20

In [23]:
#we want to remove"no genres listed"

In [24]:
movies2 = movies2[movies2['genres'] != '(no genres listed)']

In [25]:
movies2['genres'].nunique()

19

In [26]:
movies2['genres'].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'War', 'Musical', 'Documentary',
       'Western', 'Film-Noir'], dtype=object)

In [27]:
#group the dataframe based upon genres and we will get the average rating for each genre
#merge movies2 and ratng df
merged_data = pd.merge(ratings, movies2, on=['movieId'], how='inner')

In [28]:
merged_data.groupby('genres').groups

{'Action': [1941, 1944, 1947, 1950, 1953, 1956, 1959, 1962, 1965, 1968, 1971, 1974, 1977, 1980, 1983, 1986, 1989, 1992, 1995, 1998, 2001, 2004, 2007, 2010, 2013, 2016, 2019, 2022, 2025, 2028, 2031, 2034, 2037, 2040, 2043, 2046, 2049, 2052, 2055, 2058, 2061, 2064, 2067, 2070, 2073, 2076, 2079, 2082, 2085, 2088, 2091, 2094, 2097, 2100, 2103, 2106, 2109, 2112, 2115, 2118, 2121, 2124, 2127, 2130, 2133, 2136, 2139, 2142, 2145, 2148, 2151, 2154, 2157, 2160, 2163, 2166, 2169, 2172, 2175, 2178, 2181, 2184, 2187, 2190, 2193, 2196, 2199, 2202, 2205, 2208, 2211, 2214, 2217, 2220, 2223, 2226, 2229, 2232, 2235, 2238, ...], 'Adventure': [2685, 2688, 2691, 2694, 2697, 2700, 2703, 2706, 2709, 2712, 2715, 2718, 2721, 2724, 2727, 2730, 2733, 2736, 2739, 2742, 2745, 2748, 2751, 2754, 2757, 2760, 2763, 2766, 2769, 2772, 2775, 2778, 2781, 2784, 2787, 2790, 2793, 2796, 2799, 2802, 2805, 2808, 2811, 2814, 2817, 2820, 2823, 2826, 2829, 2832, 2835, 2838, 2841, 2844, 2847, 2850, 2853, 2856, 2859, 2862, 2865, 2868, 2871, 2874, 2877, 2880, 2883, 2886, 2889, 2892, 2895, 2898, 2901, 2904, 2907, 2910, 2913, 2916, 2919, 2922, 2925, 2928, 2931, 2934, 2937, 2940, 2943, 2946, 2949, 2952, 2955, 2958, 2961, 2964, 2967, 2970, 2973, 2976, 2979, 2982, ...], 'Animation': [34140, 34146, 34152, 34158, 34164, 34170, 34176, 34182, 34188, 34194, 34200, 34206, 34212, 34218, 34224, 34230, 34236, 34242, 34248, 34254, 34260, 34266, 34272, 34278, 34284, 34290, 34296, 34302, 34308, 34314, 34320, 34326, 34332, 34338, 34344, 34350, 34356, 34362, 34368, 34374, 34380, 34386, 34392, 34398, 34404, 34410, 34416, 34422, 34428, 34434, 34440, 34446, 34452, 34458, 34464, 34470, 34476, 34482, 34488, 34494, 34500, 34506, 34512, 34518, 34524, 34530, 34536, 34542, 34548, 34554, 34560, 34566, 34572, 34578, 34584, 34590, 34596, 34602, 34608, 34614, 34620, 34626, 34632, 34638, 34644, 34650, 34656, 34662, 34668, 34674, 34680, 34686, 34692, 34698, 34704, 34710, 34716, 34722, 34728, 34734, ...], 'Children': [27163, 27166, 27169, 27172, 27175, 27178, 27181, 27184, 27187, 27190, 27193, 27196, 27199, 27202, 27205, 27208, 27211, 27214, 27217, 27220, 27223, 27226, 27229, 27232, 27235, 27238, 27241, 27244, 27247, 27250, 27253, 27256, 27259, 27262, 27265, 27268, 27271, 27274, 27277, 27280, 27283, 27286, 27289, 27292, 27295, 27298, 27301, 27304, 27307, 34141, 34147, 34153, 34159, 34165, 34171, 34177, 34183, 34189, 34195, 34201, 34207, 34213, 34219, 34225, 34231, 34237, 34243, 34249, 34255, 34261, 34267, 34273, 34279, 34285, 34291, 34297, 34303, 34309, 34315, 34321, 34327, 34333, 34339, 34345, 34351, 34357, 34363, 34369, 34375, 34381, 34387, 34393, 34399, 34405, 34411, 34417, 34423, 34429, 34435, 34441, ...], 'Comedy': [4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, ...], 'Crime': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 1257, 1260, 1263, 1266, 1269, 1272, 1275, 1278, 1281, 1284, 1287, 1290, 1293, 1296, 1299, 1302, ...], 'Documentary': [40543, 40544, 40545, 40546, 40547, 40548, 40549, 40550, 40551, 40552, 40553, 48595, 48596, 48597, 48598, 48599, 48600, 48601, 48602, 48603, 48604, 48605, 48606, 48607, 48608, 48609, 48610, 48611, 48612, 48613, 48614, 48615, 48616, 48617, 48618, 48619, 48620, 48621, 48622, 48623, 48624, 48625, 48626, 48627, 48628, 48629, 48630, 95524, 95525, 95526, 95527, 95528, 95529, 95530, 95531, 95532, 95533, 95534, 95535, 95536, 95537, 95538, 95539, 95540, 95541, 95542, 95543, 95544, 95545, 95546, 95547, 95548, 95549, 95550, 95551, 95552, 95553, 95554, 95555, 95556, 95557, 95558, 95559, 95560, 95561, 95562, 95563, 95564, 95565, 95566, 95567, 95568, 95569, 95570, 95571, 95572, 95573, 95574, 127448, 136663, ...], 'Drama': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, ...], 'Fantasy': [16780, 16784, 16788, 16792, 16796, 16800, 16804, 16808, 16812, 16816, 16820, 16824, 16828, 16832, 16836, 16840, 16844, 16848, 16852, 16856, 16860, 16864, 16868, 16872, 16876, 16880, 16884, 16888, 16892, 16896, 16900, 16904, 16908, 16912, 16916, 16920, 16924, 16928, 16932, 16936, 16940, 16944, 16948, 16952, 16956, 16960, 16964, 16968, 16972, 16976, 16980, 19585, 19588, 19591, 19594, 19597, 19600, 19603, 19606, 19609, 19612, 19615, 19618, 19621, 19624, 19627, 19630, 19633, 19636, 19639, 19642, 19645, 19648, 19651, 19654, 19657, 19660, 19663, 19666, 19669, 19672, 19675, 19678, 19681, 19684, 19687, 19690, 19693, 19696, 19699, 19702, 19705, 19708, 19711, 19714, 19717, 19720, 19723, 19726, 19729, ...], 'Film-Noir': [25199, 25203, 25207, 25211, 25215, 25219, 25223, 25227, 25231, 25235, 25239, 25243, 25247, 25251, 25255, 25259, 25263, 25267, 25271, 25275, 25279, 25283, 25287, 25291, 25295, 25299, 25303, 25307, 25311, 25315, 25319, 25323, 25327, 25331, 25335, 25339, 25343, 25347, 25351, 25355, 25359, 25363, 25367, 25371, 25375, 25379, 25383, 25387, 25391, 25395, 25399, 25403, 25407, 25411, 25415, 25419, 25423, 25427, 25431, 25435, 25439, 25443, 25447, 25451, 25455, 25459, 25463, 25467, 25471, 25475, 25479, 25483, 25487, 25491, 25495, 25499, 25503, 25507, 25511, 25515, 25519, 25523, 25527, 25531, 25535, 25539, 25543, 25547, 25551, 25555, 25559, 25563, 25567, 25571, 25575, 25579, 25583, 25587, 25591, 25595, ...], 'Horror': [14076, 14079, 14082, 14085, 14088, 14091, 14094, 14097, 14100, 14103, 14106, 14109, 14112, 14115, 14118, 14121, 14124, 14127, 14130, 14133, 14136, 14139, 14142, 14145, 14148, 14151, 14154, 14157, 14160, 14163, 14166, 14169, 14172, 14175, 14178, 14181, 14184, 14187, 14190, 14193, 14196, 14199, 14202, 14205, 14208, 14211, 14214, 14217, 14220, 14223, 14226, 14229, 14232, 14235, 14238, 14241, 14244, 14247, 14250, 14253, 14256, 14259, 14262, 14265, 14268, 14271, 14274, 14277, 14280, 14283, 14286, 14289, 14292, 14295, 14298, 14301, 14304, 14307, 14310, 14313, 14316, 14319, 14322, 14325, 14328, 14331, 14334, 14337, 14340, 14343, 14346, 14349, 14352, 14355, 14358, 14361, 14364, 14367, 14370, 14373, ...], 'IMAX': [2687, 2690, 2693, 2696, 2699, 2702, 2705, 2708, 2711, 2714, 2717, 2720, 2723, 2726, 2729, 2732, 2735, 2738, 2741, 2744, 2747, 2750, 2753, 2756, 2759, 2762, 2765, 2768, 2771, 2774, 2777, 2780, 2783, 2786, 2789, 2792, 2795, 2798, 2801, 2804, 2807, 2810, 2813, 2816, 2819, 2822, 2825, 2828, 2831, 2834, 2837, 2840, 2843, 2846, 2849, 2852, 2855, 2858, 2861, 2864, 2867, 2870, 2873, 2876, 2879, 2882, 2885, 2888, 2891, 2894, 2897, 2900, 2903, 2906, 2909, 2912, 2915, 2918, 2921, 2924, 2927, 2930, 2933, 2936, 2939, 2942, 2945, 2948, 2951, 2954, 2957, 2960, 2963, 2966, 2969, 2972, 2975, 2978, 2981, 2984, ...], 'Musical': [22115, 22118, 22121, 22124, 22127, 22130, 22133, 22136, 22139, 22142, 22145, 22148, 22151, 22154, 22157, 22160, 22163, 22166, 22169, 22172, 22175, 22178, 22181, 22184, 22187, 22190, 22193, 22196, 22199, 22202, 22205, 22208, 22211, 22214, 22217, 22220, 22223, 22226, 22229, 22232, 22235, 22238, 22241, 22244, 22247, 22250, 22253, 22256, 22259, 22262, 22265, 22268, 22271, 22274, 22277, 22280, 22283, 22286, 22289, 22292, 22295, 22298, 22301, 22304, 22307, 22310, 22313, 22316, 22319, 22322, 22325, 22328, 22331, 22334, 22337, 22340, 22343, 22346, 22349, 22352, 22355, 22358, 22361, 22364, 22367, 22370, 22373, 22376, 22379, 22382, 22385, 22388, 22391, 22394, 22397, 22400, 22403, 22406, 22409, 44806, ...], 'Mystery': [244, 247, 250, 253, 256, 259, 262, 265, 268, 271, 274, 277, 280, 283, 286, 289, 292, 295, 298, 301, 304, 307, 310, 313, 316, 319, 322, 325, 328, 331, 334, 337, 340, 343, 346, 349, 352, 355, 358, 361, 364, 367, 370, 373, 376, 379, 382, 385, 388, 391, 394, 397, 400, 403, 406, 409, 412, 415, 418, 421, 424, 427, 430, 433, 436, 439, 442, 445, 448, 451, 454, 457, 460, 463, 466, 469, 472, 475, 478, 481, 484, 487, 490, 493, 496, 499, 502, 505, 508, 511, 514, 517, 520, 523, 526, 529, 532, 535, 538, 541, ...], 'Romance': [7646, 7650, 7654, 7658, 7662, 7666, 7670, 7674, 7678, 7682, 7686, 7690, 7694, 7698, 7702, 7706, 7710, 7714, 7718, 7722, 7726, 7730, 7734, 7738, 7742, 7746, 7750, 7754, 7758, 7762, 7766, 7770, 7774, 7778, 7782, 7786, 7790, 7794, 7798, 7802, 7806, 7810, 7814, 7818, 7822, 7826, 7830, 7834, 7838, 7842, 7846, 7850, 7854, 7858, 7862, 7866, 7870, 7874, 7878, 7882, 7886, 7890, 7894, 7898, 7902, 7906, 7910, 7914, 7918, 7922, 7926, 7930, 7934, 7938, 7942, 7946, 7950, 7954, 7958, 7962, 7966, 7970, 7974, 7978, 7982, 7986, 7990, 7994, 7998, 8002, 8006, 8010, 8014, 8018, 8022, 8026, 8030, 8034, 8038, 8042, ...], 'Sci-Fi': [169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 248, 251, 254, 257, 260, 263, 266, 269, 272, 275, 278, 281, 284, 287, 290, 293, 296, 299, 302, 305, 308, 311, 314, 317, 320, 323, 326, 329, 332, 335, 338, 341, 344, 347, 350, 353, 356, 359, 362, 365, 368, 371, 374, 377, 380, 383, 386, 389, 392, 395, 398, 401, 404, 407, 410, 413, 416, 419, 422, 425, 428, ...], 'Thriller': [246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, ...], 'War': [1943, 1946, 1949, 1952, 1955, 1958, 1961, 1964, 1967, 1970, 1973, 1976, 1979, 1982, 1985, 1988, 1991, 1994, 1997, 2000, 2003, 2006, 2009, 2012, 2015, 2018, 2021, 2024, 2027, 2030, 2033, 2036, 2039, 2042, 2045, 2048, 2051, 2054, 2057, 2060, 2063, 2066, 2069, 2072, 2075, 2078, 2081, 2084, 2087, 2090, 2093, 2096, 2099, 2102, 2105, 2108, 2111, 2114, 2117, 2120, 2123, 2126, 2129, 2132, 2135, 2138, 2141, 2144, 2147, 2150, 2153, 2156, 2159, 2162, 2165, 2168, 2171, 2174, 2177, 2180, 2183, 2186, 2189, 2192, 2195, 2198, 2201, 2204, 2207, 2210, 2213, 2216, 2219, 2222, 2225, 2228, 2231, 2234, 2237, 2240, ...], 'Western': [12823, 12826, 12829, 12832, 12835, 12838, 12841, 12844, 12847, 12850, 12853, 12856, 12859, 12862, 12865, 12868, 12871, 12874, 12877, 12880, 12883, 12886, 12889, 12892, 12895, 12898, 12901, 12904, 12907, 12910, 12913, 12916, 12919, 12922, 12925, 12928, 12931, 12934, 12937, 12940, 12943, 12946, 12949, 12952, 12955, 12958, 12961, 12964, 12967, 12970, 12973, 12976, 12979, 12982, 12985, 12988, 12991, 12994, 12997, 13000, 13003, 13006, 13009, 13012, 13015, 13018, 13021, 13024, 13027, 13030, 13033, 13036, 13039, 13042, 13045, 13048, 13051, 13054, 13057, 13060, 13063, 13066, 13069, 13072, 13075, 13078, 13081, 13084, 13087, 13090, 13093, 13096, 13099, 13102, 13105, 13108, 13111, 13114, 13117, 13120, ...]}

In [29]:
merged_data.head()

   userId  movieId  rating   timestamp          title genres
0       1       16     4.0  1217897793  Casino (1995)  Crime
1       1       16     4.0  1217897793  Casino (1995)  Drama
2       9       16     4.0   842686699  Casino (1995)  Crime
3       9       16     4.0   842686699  Casino (1995)  Drama
4      12       16     1.5  1144396284  Casino (1995)  Crime

In [30]:
merged_data.shape

(281897, 6)

In [31]:
movies2.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [32]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [33]:
# merged_data.groupby('genres').agg({"title":"nunique", 'rating':['mean','size']}).rename(columns={"title":"unique_movie_counts", "rating":"average_mean_rating"})

In [34]:
popularity = merged_data.groupby(['genres', 'title']).agg({'rating':['mean','size']}).rename(columns={ "rating":"average_mean_rating"}).reset_index()

In [35]:
popularity.columns=["Genres", "Title", "Average Ratings", "Number of Ratings"]

In [36]:
popularity

,Genres,Title,Average Ratings,Number of Ratings
0,Action,'71 (2014),3.500000,1
1,Action,'Hellboy': The Seeds of Creation (2004),3.000000,1
2,Action,10 to Midnight (1983),2.500000,1
3,Action,12 Rounds (2009),2.875000,4
4,Action,13 Assassins (Jûsan-nin no shikaku) (2010),3.500000,5
...,...,...,...,...
23093,Western,Wyatt Earp (1994),3.200000,30
23094,Western,Young Guns (1988),3.375000,36
23095,Western,Young Guns II (1990),3.083333,12
23096,Western,Young Ones (2014),2.000000,1
23097,Western,¡Three Amigos! (1986),3.012500,40

In [37]:
#popularity recommender system
popularity[popularity['Genres'] == "Action"]

,Genres,Title,Average Ratings,Number of Ratings
0,Action,'71 (2014),3.500000,1
1,Action,'Hellboy': The Seeds of Creation (2004),3.000000,1
2,Action,10 to Midnight (1983),2.500000,1
3,Action,12 Rounds (2009),2.875000,4
4,Action,13 Assassins (Jûsan-nin no shikaku) (2010),3.500000,5
...,...,...,...,...
1731,Action,Zu: Warriors from the Magic Mountain (Xin shu ...,4.000000,1
1732,Action,Zulu (1964),4.142857,7
1733,Action,eXistenZ (1999),3.660714,28
1734,Action,xXx (2002),2.958333,24
1735,Action,xXx: State of the Union (2005),2.071429,7

In [38]:
#genres = Action, threshold = 50, top =7
popularity[(popularity['Genres'] == "Action") & (popularity['Number of Ratings'] > 50)]

      Genres                    Title  Average Ratings  Number of Ratings
13    Action     28 Days Later (2002)         3.932836                 67
20    Action               300 (2007)         3.577922                 77
43    Action        Abyss, The (1989)         3.681319                 91
62    Action     Air Force One (1997)         3.439024                 82
71    Action            Aliens (1986)         4.146497                157
...      ...                      ...              ...                ...
1638  Action    V for Vendetta (2006)         4.015957                 94
1676  Action        Waterworld (1995)         2.934959                123
1692  Action    Wild Wild West (1999)         2.164179                 67
1707  Action             X-Men (2000)         3.557692                130
1712  Action  X2: X-Men United (2003)         3.567073                 82

[163 rows x 4 columns]

In [39]:
popularity[(popularity['Genres'] == "Action") & (popularity['Number of Ratings'] > 50)].sort_values(by="Average Ratings", ascending=False).head(7)

,Genres,Title,Average Ratings,Number of Ratings
1179,Action,Princess Mononoke (Mononoke-hime) (1997),4.384615,52
1076,Action,North by Northwest (1959),4.273973,73
975,Action,"Matrix, The (1999)",4.264368,261
1433,Action,Star Wars: Episode V - The Empire Strikes Back...,4.228070,228
1331,Action,Seven Samurai (Shichinin no samurai) (1954),4.217742,62
1199,Action,Raiders of the Lost Ark (Indiana Jones and the...,4.212054,224
747,Action,Inception (2010),4.189320,103

In [40]:
#popularity recommender system
def TopNPopularMovies(genre, threshold, topN):
    popularity = merged_data.groupby(['genres', 'title']).agg({'rating':['mean','size']}).reset_index()
    popularity.columns=["Genres", "Title", "Average Ratings", "Number of Ratings"]
    
    #filter the dataon
    topNRecommendations = popularity[(popularity['Genres'] == genre) & (popularity['Number of Ratings'] > threshold)].sort_values(by="Average Ratings", ascending=False).head(topN)
    
    #ouput
    topNRecommendations['Sno.'] = range(1, len(topNRecommendations)+1)
    topNRecommendations.index = range(0, len(topNRecommendations))
    topNRecommendations.columns = ['Genres', 'Movie Title', 'Average Movie Ratings', 'Number of Reviews', 'Sno.']
    return topNRecommendations[['Sno.', 'Movie Title', 'Average Movie Ratings', 'Number of Reviews']]

In [41]:
#test cases 1
genre = 'Adventure'
threshold = 50
topN = 20
TopNPopularMovies(genre = genre, threshold = threshold, topN = topN)

,Sno.,Movie Title,Average Movie Ratings,Number of Reviews
0,1,Princess Mononoke (Mononoke-hime) (1997),4.384615,52
1,2,Monty Python and the Holy Grail (1975),4.301948,154
2,3,North by Northwest (1959),4.273973,73
3,4,Spirited Away (Sen to Chihiro no kamikakushi) ...,4.236111,72
4,5,Star Wars: Episode V - The Empire Strikes Back...,4.228070,228
5,6,Seven Samurai (Shichinin no samurai) (1954),4.217742,62
6,7,Raiders of the Lost Ark (Indiana Jones and the...,4.212054,224
7,8,Star Wars: Episode IV - A New Hope (1977),4.188645,273
8,9,Lawrence of Arabia (1962),4.166667,60
9,10,"Princess Bride, The (1987)",4.163743,171
10,11,"Bridge on the River Kwai, The (1957)",4.159091,66
11,12,City of God (Cidade de Deus) (2002),4.156716,67
12,13,Up (2009),4.153226,62
13,14,Aliens (1986),4.146497,157
14,15,"Lord of the Rings: The Fellowship of the Ring,...",4.126984,189
15,16,"Great Escape, The (1963)",4.125000,56
16,17,"Lord of the Rings: The Return of the King, The...",4.108434,166
17,18,"Lord of the Rings: The Two Towers, The (2002)",4.095808,167
18,19,"Wizard of Oz, The (1939)",4.090090,111
19,20,Little Miss Sunshine (2006),4.078947,57

In [42]:
#content based recommendation system

In [43]:
movies2.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [44]:
movies3 = movies2.groupby('title').agg({'genres': lambda x:" ".join(list(x))}).reset_index()

In [45]:
movies3.head()

,title,genres
0,'71 (2014),Action Drama Thriller War
1,'Hellboy': The Seeds of Creation (2004),Action Adventure Comedy Documentary Fantasy
2,'Round Midnight (1986),Drama Musical
3,'Til There Was You (1997),Drama Romance
4,"'burbs, The (1989)",Comedy

In [46]:
#instance of tfidfvectorizer >> used ti apply fn upon genres and generate their vectors
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,3), stop_words="english")
tf

TfidfVectorizer(ngram_range=(1, 3), stop_words='english')

In [47]:
tf_matrix = tf.fit_transform(movies3['genres'])

In [48]:
cosine_sim = cosine_similarity(tf_matrix, tf_matrix)

In [49]:
# movies3['title']

In [50]:
# indices = pd.Series(movies3.index, index=movies3['title'])

In [51]:
# idx = indices['xXx (2002)']

In [52]:
# scores = list(enumerate(cosine_sim[idx])) #similarity of xXx with all the other movies

In [53]:
# matched = sorted(scores, key = lambda x:x[1], reverse = True)[:5]
# matched = [i[0] for i in matched]
# matched

In [54]:
# movies3.iloc[matched] # five moveis related to xXx

In [55]:
#final function

In [56]:
def recommendationGenre(movie_df, similarity_matrix, movie_title, topN):
    indices = pd.Series(movies3.index, index=movies3['title'])
    idx = indices[movie_title] #target movie
    
    #similarity
    scores = list(enumerate(similarity_matrix[idx]))
    scores = sorted(scores, key = lambda x:x[1], reverse = True)[1:topN+2]
    
    #extract matching movies
    matched = [i[0] for i in scores]
    matching_df = movie_df.iloc[matched]
    
    #filter out the target movie
    matching_df = matching_df[matching_df['title'] != movie_title]
    
    #output
    matching_df.rename(columns={'title': 'Movie Title'}, inplace = True)
    matching_df['Sno.'] = range(1, len(matching_df)+1)
    matching_df.index = range(0, len(matching_df))
    
    return matching_df[['Sno.', 'Movie Title']].head(topN)

In [57]:
#test case
recommendationGenre(movie_df=movies3, similarity_matrix=cosine_sim, movie_title='Turbo (2013)', topN=20)

    Sno.                                        Movie Title
0      1                                        Antz (1998)
1      2  Asterix and the Vikings (Astérix et les Viking...
2      3                              Boxtrolls, The (2014)
3      4  DuckTales: The Movie - Treasure of the Lost La...
4      5                   Emperor's New Groove, The (2000)
5      6                              Monsters, Inc. (2001)
6      7                             Shrek the Third (2007)
7      8                     Tale of Despereaux, The (2008)
8      9                                   Toy Story (1995)
9     10                                 Toy Story 2 (1999)
10    11                                   Wild, The (2006)
11    12         TMNT (Teenage Mutant Ninja Turtles) (2007)
12    13                              The Lego Movie (2014)
13    14                             Gnomeo & Juliet (2011)
14    15                                       Shrek (2001)
15    16         Cloudy with a Chance of Meatballs 2 (2013)
16    17                               Partly Cloudy (2009)
17    18                                      Presto (2008)
18    19                           American Tail, An (1986)
19    20  Asterix in Britain (Astérix chez les Bretons) ...

In [58]:
#interactive widgets

In [59]:
#popularity
#inputs
genres = Dropdown(options = set(movies2['genres']), description = 'Genres',style={"description_width":"initial"})
num_reviews = IntText(description="Minimum Reviews", style={"description_width":"initial"})
num_recommendations_1 = IntText(description = "Number of Recommnedations", style={"description_width":"initial"})

#tabs
b1 = Button(description = "Recommend ME", style={"description_width":"initial"})
h1 = HBox([num_reviews, num_recommendations_1])
popularity_tab = VBox([genres, h1, b1])

#content based widgets

title = Textarea(description="Movie Title", style={"description_width":"initial"})
num_recommendations_2 = IntText(description = "Number of Recommendations", style={"description_width":"initial"})

#tabs
h2 = HBox([title, num_recommendations_2])
b2 = Button(description = "Recommend ME", style={"description_width":"initial"})
content_tab = VBox([h2, b2])

#creating final tabs
tabs = [popularity_tab, content_tab]
wid = widgets.Tab(tabs)
# wid

#set titles to the tabs
names = ['Popularity Based Recommendations', 'Content Based Recommendations']
[wid.set_title(i, title) for i, title in enumerate(names)]

display(wid)

Tab(children=(VBox(children=(Dropdown(description='Genres', options=('Comedy', 'Western', 'Animation', 'IMAX',…

In [60]:
#popularity
def b1_clicked(b):
    global output
    result = TopNPopularMovies(genre = genres.value, threshold = num_reviews.value, topN = num_recommendations_1.value)
    output = result
b1.on_click(b1_clicked)

#content
def b2_clicked(b):
    global output
    result = recommendationGenre(movie_df=movies3, similarity_matrix=cosine_sim, movie_title= title.value, topN= num_recommendations_2.value)
    output = result
b2.on_click(b2_clicked)

In [61]:
display(wid)

Tab(children=(VBox(children=(Dropdown(description='Genres', options=('Comedy', 'Western', 'Animation', 'IMAX',…

In [62]:
output

NameError: name 'output' is not defined