In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('happiness.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Countries              134 non-null    object
 1   Happiness index, 2022  134 non-null    float64
 2   Global rank            134 non-null    int64
 3   Available data         134 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 4.3+ KB

In [5]:
data.describe()

       Happiness index, 2022  Global rank
count             134.000000   134.000000
mean                5.536716    67.500000
std                 1.140036    38.826537
min                 1.860000     1.000000
25%                 4.755000    34.250000
50%                 5.670000    67.500000
75%                 6.322500   100.750000
max                 7.800000   134.000000

In [6]:
data.loc[2]

Countries                    Iceland
Happiness index, 2022           7.53
Global rank                        3
Available data           2013 - 2022
Name: 2, dtype: object

In [7]:
data.iloc[2]

Countries                    Iceland
Happiness index, 2022           7.53
Global rank                        3
Available data           2013 - 2022
Name: 2, dtype: object