In [19]:
#measures of dispersion - how well is data is distributed

In [20]:
#variance - how far is a no. from the mean
#sd - root of variance

In [21]:
import pandas as pd
import statistics
df = pd.read_csv("Expanded_data_with_more_features.csv")
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [22]:
#range
df['MathScore'].max() - df['MathScore'].min()

100

In [23]:
import numpy as np
np.ptp(df['MathScore'])

100

In [24]:
#variance
statistics.variance(df['MathScore'])

235.97923431360377

In [25]:
#standard deviation
statistics.stdev(df['MathScore'])

15.361615615344753

In [26]:
df['MathScore'].std()

15.361615615344753

In [27]:
from scipy import stats

In [35]:
#interquartialrange
stats.iqr(df['ReadingScore'])

21.0

In [29]:
np.percentile(df['ReadingScore'],[75,25])

array([80., 59.])

In [30]:
Q3, Q1 = np.percentile(df['ReadingScore'],[75,25])
Q3 - Q1

21.0

In [31]:
#positions - percentiles, quartiles, standard scores

In [32]:
#zscores

In [34]:
q3, q1 = np.percentile(df['WritingScore'], [75,25])
iqr = q3 - q1
iqr

21.0

In [36]:
np.percentile(df[['ReadingScore', 'WritingScore']], 10, axis = 0)

array([50., 48.])

In [37]:
from scipy.stats import zscore

In [39]:
zscore(df['ReadingScore'])

0        0.109933
1        1.397308
2        1.600578
3       -0.906416
4        0.584229
           ...
30636   -0.567633
30637   -1.109686
30638    0.042176
30639    1.397308
30640   -0.635390
Name: ReadingScore, Length: 30641, dtype: float64

In [40]:
#categorical - numerical
#ordinal,nominal - interval,ratio

In [ ]:
#quantitative data - discrete and continous
#qualitative data - nominal and ordinal