In [2]:
#population and #sample
#sample is a subset of the superset population

In [3]:
#descriptive statistics
''' 
It provides description of population. It does not allow to make predictions beyond given data.
Types - measures of central tendency, measure of variabilty
'''

' \nIt provides description of population. It does not allow to make predictions beyond given data.\nTypes - measures of central tendency, measure of variabilty\n'

In [4]:
#inferential statistics
''' 
Random sample data is taken from population and then inferences are drawn for population set
Types - hypothesis testing, regression analyisis
'''

' \nRandom sample data is taken from population and then inferences are drawn for population set\nTypes - hypothesis testing, regression analyisis\n'

In [5]:
#Measures of central tendency

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv("Expanded_data_with_more_features.csv")
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [9]:
import statistics

In [12]:
statistics.mean(df['MathScore'])

66.5584021409223

In [13]:
df['MathScore'].mean()

66.5584021409223

In [14]:
statistics.median(df['WritingScore'])
df['WritingScore'].median()
df['ReadingScore'].unique()
statistics.mode(df['ReadingScore'])
df['ReadingScore'].mode()

0    65
Name: ReadingScore, dtype: int64